{% extends "base.html" %}
{% block content %}
<section id="content" class="body">
<h1>Archives for {{ SITENAME }}</h1>

<dl>
{% for article in dates %}
    <dt>{{ article.locale_date }}</dt>
    <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
{% endfor %}
</dl>
</section>
{% endblock %}
{% block footpage %}
<footer id="contentinfo" class="body">
    <address id="about" class="vcard body">
    ©2019 steer
    </br>
    Proudly powered by <a href="http://getpelican.com/">Pelican</a>, which takes great advantage of <a href="http://python.org">Python</a>.
    </address>
    
    <!-- /#about -->

    
</footer><!-- /#contentinfo -->
{% endblock %}
