@font-face {
	font-family: 'Yanone Kaffeesatz';
	font-style: normal;
	font-weight: 400;
	src:
		local('Yanone Kaffeesatz Regular'),
		local('YanoneKaffeesatz-Regular'),
		/* from https://fonts.gstatic.com/s/yanonekaffeesatz/v8/YDAoLskQQ5MOAgvHUQCcLRTHiN2BPBirwIkMLKUspj4.woff */
		url('../fonts/Yanone_Kaffeesatz_400.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/yanonekaffeesatz/v8/YDAoLskQQ5MOAgvHUQCcLfGwxTS8d1Q9KiDNCMKLFUM.woff2 */
		url('../fonts/Yanone_Kaffeesatz_400.woff2') format('woff2');
}

/* lora-regular - latin */
@font-face {
	font-family: 'Lora';
	font-style: normal;
	font-weight: 400;
	src: local('Lora'), local('Lora-Regular'),
		 url('lora-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
		 url('lora-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* lora-italic - latin */
  @font-face {
	font-family: 'Lora';
	font-style: italic;
	font-weight: 400;
	src: local('Lora Italic'), local('Lora-Italic'),
		 url('lora-v9-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
		 url('lora-v9-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* lora-700 - latin */
  @font-face {
	font-family: 'Lora';
	font-style: normal;
	font-weight: 700;
	src: local('Lora Bold'), local('Lora-Bold'),
		 url('lora-v9-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
		 url('lora-v9-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* lora-700italic - latin */
  @font-face {
	font-family: 'Lora';
	font-style: italic;
	font-weight: 700;
	src: local('Lora Bold Italic'), local('Lora-BoldItalic'),
		 url('lora-v9-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
		 url('lora-v9-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* fira-sans-regular - latin */
  @font-face {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Fira Sans'), local('FiraSans-Regular'),
		 url('fira-sans-v5-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
		 url('fira-sans-v5-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* fira-sans-italic - latin */
  @font-face {
	font-family: 'Fira Sans';
	font-style: italic;
	font-weight: 400;
	src: local('Fira Sans Italic'), local('FiraSans-Italic'),
		 url('fira-sans-v5-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
		 url('fira-sans-v5-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* fira-sans-500 - latin */
  @font-face {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 500;
	src: local('Fira Sans Medium'), local('FiraSans-Medium'),
		 url('fira-sans-v5-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
		 url('fira-sans-v5-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  

  /* fira-sans-regular - latin */
	@font-face {
		font-family: 'Fira Sans';
		font-style: normal;
		font-weight: 400;
		src: url('../fonts/fira-sans-v10-latin-regular.eot'); /* IE9 Compat Modes */
		src: local(''),
			url('../fonts/fira-sans-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('../fonts/fira-sans-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
			url('../fonts/fira-sans-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
			url('../fonts/fira-sans-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
			url('../fonts/fira-sans-v10-latin-regular.svg#FiraSans') format('svg'); /* Legacy iOS */
	}

  /* pt-sans-narrow-regular - latin */
  @font-face {
	font-family: 'PT Sans Narrow';
	font-style: normal;
	font-weight: 400;
	src: local('PT Sans Narrow'), local('PTSans-Narrow'),
		 url('../fonts/pt-sans-narrow-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
		 url('../fonts/pt-sans-narrow-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  